* {
  background-color: rgb(222, 225, 228);
}

.app {
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-bar {
  align-content: center;
  height: 60px;
  /* border-style: solid; */
}

/* .logo {
  background-image: url(./assets/lobster-icon.png);
  background-repeat: no-repeat;
  alt: 'lobster';
  height: 5px;
} */

#left-menu {}

#right-menu {
  padding-top: 30px;
}

#center-menu {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}


.main {
  height: 900px;
  position: relative;
  background-image: url(./assets/waterscape\ 1.jpg);
  /* height: 500px; You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.form-window {
  border: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: rgb(222, 225, 228);
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  top: 120px;
  width: 40%;
}

#login {}

#new-user {}

/* Weekly scheduling format */


#schedule {
  width: 75%;
  height: 70%;
}

#schedule-grid {
  font-size: small;
  margin: 10px;
  /* border-style: double; */
}

#week-switch-div {
  font-size: x-large;
  margin-top: 20px;
  ;
}

#show-days-row {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}

#date-row {
  padding: 0px 25px
    /* margin: 0px 0px */
}

#cabin-head {
  padding-top: 2px;
  padding-bottom: 0px;
}

#cabin-name {
  /* padding-top: 10px; */
  font-weight: bold;
  text-align: right;
}

#name-row {
  height: 40px;
}

#day-square {
  font-size: 10px;
  /* height: 20px; */
}

.default-square-color {
  background-color: lightslategray;
}

.form-header {
  background-color: darkgray;
  font-size: x-large;
  padding: 10px;
}

.main-form {
  margin-left: 50px;
  text-align: left;
  width: 80%;
}

#reservation-form {
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
}

#reserve-button {
  margin-top: 20px;
}