/* font-family: 'Courgette', cursive;
font-family: 'Roboto', sans-serif; */


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  /* background-color: rgb(222, 225, 228); */
}

.app {
  height: 100%;
  background-color: rgb(222, 225, 228);

  /* margin-left: 40px; */
  /* margin-right: 40px; */
}

.message {
  padding: 15px 0;
}

#navbar-container {
  align-content: center;
  height: 120px;
  /* padding-top: 120px; */
  /* background-color: mediumseagreen; */
  border-bottom: black;
  border-style: solid;
  border-width: 1px;
}


#left-menu {
  padding-left: 20px;
}

#center-menu {
  /* text-align: center; */
  display: inline;
  /* margin-top: 20px; */
}

#right-menu {
  /* padding-bottom: 30px; */
  text-align: right;
}

.notification-badge {
  background-color: tomato;
  height: 10px;
  width: 10px;
  border-radius: 5px;
}

#navbar-photo-box {
  /* padding-right:10px; */
}

#lobster {}

#title {

  font-family: 'Playfair Display', serif;
  font-size: 3em;
}


.main {
  height: 900px;
  position: relative;
  background-image: url(./assets/waterscape\ 1.jpg);
  /* height: 500px; You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* Body wide formatting */

.form-window {
  background-color: rgb(222, 225, 228);
  border: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(222, 225, 228);
  /* padding-bottom: 20px; */
  display: inline-block;
  position: relative;
  margin: 0 auto;
  top: 120px;
  width: 40%;
}


.form-header {
  background-color: darkgray;
  font-size: x-large;
  border: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: rgb(222, 225, 228);
  padding: 15px;
}

.main-form {
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

#login-window {
  height: 350px;
}

#button-group {
  text-align: center;
}

.loader {
  background-color: rgba(196, 21, 21, 0);
}

.gray {
  background-color: rgb(119, 224, 224);
}

#login-button {
  width: 110px;
  margin-right: 20%;
}

#new-user-window {
  height: 580px;
}

/* Weekly scheduling format */


#home {
  position: relative;
  padding: 20px;
  top: 200px;
  width: 600px;
  height: 300px;
  border-radius: 5px;
}

.home,
div.home>*,
li {
  background-color: whitesmoke;
}

#home-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  padding-bottom: 15px;
}

#banner {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  font-style: italic;
  text-align: left;
  margin-left: 70px;
  width: 80%;
  margin-bottom: 15px;
}

#updates {
  text-align: left;
}

#schedule {
  top: 50px;
  width: 75%;
  height: 80%;
}

#schedule-grid {
  font-size: small;
  margin: 10px;
  /* border-style: double; */
}

#week-switch-div {
  font-size: x-large;
  margin-top: 20px;
  ;
}

#show-days-row {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}

#date-row {
  padding: 0px 25px
    /* margin: 0px 0px */
}

#cabin-head {
  padding-top: 2px;
  padding-bottom: 0px;
}

#cabin-name {
  /* padding-top: 10px; */
  font-weight: bold;
  text-align: right;
}

#cabin-info-box {
  margin-left: 10%;
  width: 80%;
  text-align: center;
}

#cabin-info {
  font-size: larger;
  text-align: left;
  padding-top: 20px;
  margin-left: 80px;
  width: 80%;
}

#name-row {
  height: 40px;
}

#day-square {
  font-size: 10px;
  /* height: 20px; */
}

.default-square-color {
  background-color: lightslategray;
}


#reservation-form {
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
}

#reserve-button {
  margin-top: 20px;
}


/* Maintenance */

#maintenance {
  height: 60%;
}

#repair-confirmation-window {}

#ticket-header {
  margin-top: 20px;
}

/* #ticket-details {
  text-align: left;
  font-size: large;
} */

#repair-confirmation-table {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1em;

}

/* PROFILE */

#photo-box {
  text-align: center;
}

#photo {
  margin-top: 5px;
  border: black;
  border-style: solid;
  border-width: 1px;

}

/* ADMIN PANEL */

#admin-container {
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

#admin-header {
  background-color: white;
}

#admin-table {
  margin-top: 20px;
  /* border-style: solid; */
  /* width:80%; */
  /* text-align: center; */
  font-size: 1.3em;
}

#confirm-window {
  margin: 0 auto;
  width: 50%;
}
